@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}


html {
  scroll-behavior: smooth;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #000;
  opacity: 30%;
  margin: 16px auto 0 auto;
}

.divider-smaller {
  max-width: 1170px;
  margin-top: 60px;
}

.divider-footer {
  background-color: #141414;
  opacity: 100%;

  margin: 44px auto 16px auto;
}

/*!section-headers*/

.section-headers {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.red-header {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: fit-content;
  color: #DB4444;
  margin: 0;
}

.red-header span {
  height: fit-content;
}

.red-header__brick {
  display: inline-block;
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #DB4444;
}

.black-header {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.04em;
  margin: 0;

}

/*!section-headers END*/

/*!Catalog путь*/
.catalog_list {

  max-width: 1170px;
  margin: 80px auto 80px auto;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

}

.catalog_list .catalog_li {
  display: inline;
  color: #808080;
}

.catalog_list .catalog_li a {
  text-decoration: none;
  color: #808080;
}

.catalog_list .catalog_li::after {
  content: '/';
  padding: 0 6px 0 11px;
}


.catalog_list .catalog_li:last-of-type {
  color: #000;
}

.catalog_list .catalog_li:last-of-type::after {
  content: '';
  padding: 0;
}


/*!Для случаев с именем пользователя*/
.catalog_list_flex-container {
  max-width: 1170px;
  margin: 80px auto 80px auto;

  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.catalog_list_flex-container p+ul.catalog_list {
  max-width: unset;
  margin: 0;
  padding: 0;
}

.catalog_list_flex-container p {
  margin: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.catalog_list_flex-container p>span {
  color: #DB4444;
}

@media screen and (max-width: 1200px) {
  .catalog_list_flex-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .catalog_list_flex-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 111px) and (max-width: 719px) {
  .catalog_list_flex-container {
    margin: 20px auto 20px auto;
  
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 420px) {
  .catalog_list_flex-container {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 30px auto 4 0px auto;
  }
}

/*!Для случаев с именем пользователя END*/





@media screen and (max-width: 1200px) {
  .catalog_list {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*!Catalog путь END*/





/*!slider-btn*/
.slider-btns {
  display: flex;
  gap: 8px;
}

.slider-btn {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
}

.slider-btn:hover {
  background-color: #eee;
}

.slider-btn:active {
  transform: scale(0.95);
}

.slider-btn>img {
  margin: 0 auto;
  padding-top: 6px;
}

/*!slider-btn END*/

/*!Красная кнопка*/
.red-btn {
  position: relative;
  height: 56px;
  background-color: #DB4444;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
  border: none;

  color: #fafafa;
  cursor: pointer;
}

.red-btn span {
  width: fit-content;
  height: 24px;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.red-btn:active {
  transform: scale(0.985);
}

/*!Красная кнопка END*/

/*?back button*/
.back-btn_wrapper {
  max-width: 1278px;
  padding-right: 10px;
  margin: 0 auto 32px auto;
}

.back-btn {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #F5F5F5;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.back-btn:active {
  transform: scale(0.9);
}

.back-btn img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: rotate(90deg);
}

/*!back button*/


/*!white-btn*/

.white-btn {
  width: 100%;
  max-width: 223px;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 56px;

  position: relative;

  justify-self: end;


  cursor: pointer;
}

.white-btn>span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  width: fit-content;
  height: 24px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.white-btn:active {
  transform: scale(0.985);
}

/*!white-btn END*/