/*!Карточка продукта*/

.product {
  width: 270px;
  flex-shrink: 0;
}

.today .product,
.section-our-products .product {
  margin-right: 30px;
} /*Для слайдера*/

.product__card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

/*!Расстановка стикеров на фото продукта*/
.product__card_grid {
  position: absolute;
  width: 246px;
  height: 76px;
  top: 12px;
  left: 12px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.product__discount,
.product__new {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  width: fit-content;
  height: fit-content;

  padding: 4px 12px;
  background-color: #db4444;
  border-radius: 4px;

  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fafafa;

  z-index: 1;
}

.product__new {
  background-color: #00ff66;
  padding: 4px 12.5px;
}

.product__card:hover .product__discount {
  animation: 1.2s ease-in-out 0s normal none running trambling-animation;
}

@keyframes trambling-animation {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-2deg);
  }

  20%,
  40% {
    transform: rotate(2deg);
  }
}

.product__wishlist {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  background: no-repeat center url(../img/product_wishlist.svg);
  background-color: #ffffff;

  width: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 50%;

  cursor: pointer;
  z-index: 2;
}

.product__wishlist:hover {
  box-shadow: 0px 0px 8px -3px #db4444;
}

.product__wishlist:active {
  transform: scale(0.95);
}

.product__wishlist.product__wishlist_fix {
  background: no-repeat center url(../img/product_wishlist_fix.svg);
  background-color: #fff;
}

.product__details {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: end;

  background-color: #ffffff;
  width: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 50%;

  cursor: pointer;
  z-index: 1;
}

.product__details:hover {
  box-shadow: 0px 0px 8px -3px #db4444;
}

.product__details:active {
  transform: scale(0.95);
}

.product__add-to-cart {
  display: none;
  position: absolute;
  width: 270px;
  height: 41px;
  border-radius: 0px 0px 4px 4px;
  bottom: 0px;
  background-color: #000;
  color: #fafafa;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding-top: 8.5px;

  z-index: 1;

  cursor: pointer;
}

.product__card:hover .product__add-to-cart {
  display: block;
}

/*!Расстановка стикеров на фото продукта END*/

/*!Установка фотографии продукта внутри карточки*/
.product__photo img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

/*!Расстановка фотографии продукта внутри карточки END*/

/*!Description under product-card*/
.product__description {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product__name {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  cursor: pointer;
}

.product__prices {
  display: flex;
  gap: 12px;

  margin: 0;
}

.product__prices_current {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #db4444;
}
.product__prices_current::before {
  content: '$';
}

.product__prices_old {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  color: #0000007f;
  text-decoration: line-through;
}
.product__prices_old::before {
  content: '$';
}

.product__rating {
  display: flex;
  gap: 8px;
  height: 20px;
  align-items: end;

  margin: 0;
}

/*!rating stars masked png*/
.product__rating_stars_masked {
  display: inline-block;
  width: 100px;
  height: 20px;
  position: relative;
}

.product__rating_stars_masked img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.product__rating_stars_masked progress {
  position: absolute;
  z-index: 1;

  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
  border: none;
  display: inline-block;
  height: 20px;
  width: 100%;
  color: orange;
  background-color: #bfbfbf;
}

.product__rating_stars_masked progress::-webkit-progress-value {
  background-color: orange;
}

.product__rating_stars_masked progress::-webkit-progress-bar {
  background-color: #bfbfbf;
}

.product__rating_stars_masked progress::-moz-progress-bar {
  background-color: orange;
}
/*!rating stars masked png END*/

.product__rating_reviews {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;

  opacity: 50%;
}

.product__rating_reviews::after {
  content: ')';
}
.product__rating_reviews::before {
  content: '(';
}

/*!Description under product-card END*/
/*!Карточка продукта END*/

@media screen and (max-width: 329px) {
  .product {
    max-width: 270px;
    width: 100%;
  }

  .product__card_grid {
    width: calc(100% - 24px);
  }

  .product__add-to-cart {
    width: 100%;
  }
}

/*!product color selectors*/
.product__color-selectors {
  width: fit-content;
  margin: 7px 0 0 0;
  display: flex;
  align-items: start;
  gap: 8px;
}

.product__color-selectors > div {
  cursor: pointer;
}

/*not checked*/
.product_color-selector_red,
.product_color-selector_carmine-pink,
.product_color-selector_immature-yellow,
.product_color-selector_black,
.product_color-selector_turquoise-green,
.product_color-selector_orange,
.product_color-selector_deep-yellow,
.product_color-selector_swamp, 
.product_color-selector_white,
.product_color-selector_brown,
.product_color-selector_dark-blue,
.product_color-selector_dark-red, 
.product_color-selector_niagara,
.product_color-selector_lime {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*not checked END*/
.product__color-selectors > .selected > .color-selector__canvas {
  border: 2px solid black;
  border-radius: 50%;
}

.product__color-selectors > .selected > .color-selector__canvas > div {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
}

/*colors of products*/
.product_color-selector_red {
  background-color: #fb1314;
}

.product_color-selector_orange {
  background-color: #f58b2d;
}

.product_color-selector_deep-yellow {
  background-color: #c99317;
}

.product_color-selector_swamp {
  background-color: #aab994;
}

.product_color-selector_white {
  background-color: #d5d5d5;
}

.product_color-selector_brown {
  background-color: #774720;
}

.product_color-selector_dark-blue {
  background-color: darkblue;
}

.product_color-selector_lime {
  background-color: #00ff00;
}

.product_color-selector_dark-red {
  background-color: darkred;
}

.product_color-selector_niagara {
  background-color: #94B2B9;
}

.product_color-selector_carmine-pink {
  background-color: #db4444;
}

.product_color-selector_immature-yellow {
  background-color: #ff6;
}

.product_color-selector_black {
  background-color: #000;
}

.product_color-selector_turquoise-green {
  background-color: #1e5945;
}

/*colors of products END*/
/*!product color selectors END*/

@media screen and (pointer: coarse) {
  .product__add-to-cart {
    display: block;
  }
}
/*!4 our-products only*/
.section-our-products .product__prices_old {
  display: none;
}
/*!4 our-products only*/

/*!4 wishlist & just-for-you only*/

.section-wishlist .product__add-to-cart,
.section-just-for-you .product__add-to-cart {
  display: block;
}

.section-wishlist .product__delete {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  background: no-repeat center url(../img/product_delete.svg);
  background-color: #ffffff;

  width: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 50%;

  cursor: pointer;
  z-index: 2;
}

.section-wishlist .product__delete:hover {
  box-shadow: 0px 0px 8px -3px #db4444;
}

.section-wishlist .product__delete:active {
  transform: scale(0.95);
}

.section-wishlist .product__wishlist,
.section-wishlist .product__details,
.section-wishlist .product__rating,
.section-wishlist .product__color-selector,
.section-just-for-you .product__wishlist {
  display: none;
}

.section-just-for-you .product__details {
  grid-row: 1 / 2;
}

/*!4 wishlist & just-for-you only END*/
