.today {
  max-width: 1170px;
  margin: 140px auto 0 auto;
}


/*!today__header_grid*/
.today__header_grid {
  display: grid;
  grid-template-columns: minmax(216px, 298px) 303px 1fr;
}

.today__header_grid .countdown {
  align-self: end;
}

.today__header_grid .slider-btns {
  align-self: end;
  justify-self: end;
}

/*!today__header_grid END*/

/*!countdown*/
.countdown {
  width: 303px;

}

.countdown__numbers {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
}

.countdown__words {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.countdown__grid {
  display: grid;
  grid-template-columns: 46px 38px 42px 38px 49px 38px 52px;
  grid-template-rows: 18px 28px;
  gap: 4px 0px;
}

.countdown__days {
  grid-column: 1 / 3;
}

.countdown__hours {
  grid-column: 3 / 5;
}

.countdown__minutes {
  grid-column: 5 / 7;
}

.countdown__seconds {
  grid-column: 7 / 9;
}

.colon {
  justify-self: center;
  padding-top: 4px;
}

/*!countdown END*/
.today__slick-carousel {
  
  margin-top: 40px;
}

.goods_container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 30px;
  margin-top: 40px;
}

/*!позиционирование и ширина красной кнопки (основные стили в common)*/
.goods .red-btn {
  width: 234px;
  margin: 60px auto 0 auto;
}
/*!позиционирование и ширина красной кнопки (основные стили в common) END*/


/*!media (min-width: 650px) and (max-width: 1200px)*/
@media screen and (min-width: 650px) and (max-width: 1200px) {
  .today {
    padding-left: 10px;
  }
}

/*!media (min-width: 576px) and (max-width: 649px)*/
@media screen and (min-width: 576px) and (max-width: 649px) {
  .today {
    padding-left: 10px;
  }
/*?today__header_grid*/
.today__header_grid {
  display: grid;
  grid-template-columns: minmax(216px, 298px) 303px;
  gap: 0px 30px;
}

.today__header_grid .countdown {
  align-self: end;
}

.today__header_grid .slider-btns {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: end;
  justify-self: end;
}

/*?today__header_grid END*/
}


/*!media (min-width: 330px) and (max-width: 575px)*/
@media screen and (min-width: 330px) and (max-width: 575px) {
  .today {
    padding-left: 10px;
  }
/*?today__header_grid*/
.today__header_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.today__header_grid .countdown {
  align-self: end;
}

.today__header_grid .slider-btns {
  align-self: end;
  justify-self: end;
}

/*?today__header_grid END*/
}

/*!media (max-width: 329px)*/
@media screen and (max-width: 329px) {
  .today {
    padding-left: 10px;
    padding-right: 10px;
  }
/*?today__header_grid*/
.today__header_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.today__header_grid .countdown {
  align-self: end;
}

.today__header_grid .slider-btns {
  align-self: end;
  justify-self: end;
}

.today__header_grid .countdown {
  width: 100%;

}
.today__header_grid .countdown__grid {
  display: grid;
  grid-template-columns: 46px 1fr 42px 1fr 49px 1fr 52px;
  grid-template-rows: 18px 28px;
  gap: 4px 0px;
}


/*?today__header_grid END*/
}