.section-services {
  max-width: 1170px;
  margin: 71px auto 62px auto;
}

@media screen and (max-width: 1200px) {
  .section-services {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section-services__icon {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  border: 11px solid #c1c1c1;
  margin: 0 auto;
}

.section-services__icon img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.section-services__flex-wrapper h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  text-align: center;
  margin: 24px 0 8px 0;
  padding: 0;
}

.section-services__flex-wrapper p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.section-services__flex-wrapper {
  display: flex;
  justify-content: center;
  gap: 88px;
}

.section-services__delivery {
  flex-basis: 249px;
}

.section-services__support {
  flex-basis: 262px;
}

.section-services__money-back {
  flex-basis: 256px;
}

/*!media 580-980px*/
@media screen and (min-width: 580px) and (max-width: 980px) {
  .section-services__flex-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
  }
}

/*!media 200-579px*/
@media screen and (min-width: 200px) and (max-width: 579px) {
  .section-services__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}
